.employe_list_sec{
    background-color: whitesmoke;
}

.employe_list{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgb(0,0,0,0.1);
}

.employe_list_sec .heading .title .icon i{
    font-size: 30px;
}

.btn{
    background-color: #e6e6fa!important;
    border: 1px solid lavender!important;
    text-transform: uppercase;
    font-weight: 500;
    color: #734f96;
}

.btn:hover{
    background-color: transparent;
    border-color: #734f96!important;
    color: #734f96!important;
}

.delete_btn:hover{
    color: red!important;
    border-color: red!important;
}

.modal{
    backdrop-filter: blur(2px);
    display: flex!important;
    align-items: center;
}

.modal-dialog{
    width: 500px;
    max-width: 60%;
    max-height: 60vh;
}

.modal-content{
    width: 100%!important;
}

input{
    width: 100%;
    border-radius: 3px;
    outline: 0;
    border: 1px solid lavender;
    margin: 5px 0;
    padding: 8px 20px;
}

input:focus{
    border-color: #734f96;
}

.list{
    height: 500px;
    overflow-y: scroll;
}

.list::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

.list::-webkit-scrollbar-thumb{
    background-color: #734f96;
    border-radius: 5px;
}